<div>
  <div class="upstream-page-heading">
    <h1>Upstream Job Runs</h1>
    <button class="btn" (click)="navigateToTestBreakdown()">Test View</button>
  </div>
  <clr-accordion [clrAccordionMultiPanel]="true">
    <clr-accordion-panel *ngFor="let suite of (suiteTypes$ | async)">
      <clr-accordion-title>
        {{suite}}
        <weather-icon [state]="weatherIcon(suite)" />
      </clr-accordion-title>
      <clr-accordion-content>
        <app-grid (gridRefresh)="fetchGridData($event, suite)"
                  [gridData]="getGridData(suite)"
                  [idRenderer]="linkRenderer"
                  [resultRenderer]="heatMapRenderer"
                  [cornerTitle]="cornerTitle"
                  [shouldDoIdFiltering]="false"
                  [shouldDoStatusFiltering]="true"
                  [shouldAllowSddcSorting]="false"
        ></app-grid>
      </clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion>
</div>
